{% extends 'portal/employee/a_page.html' %} {% block content %}
<h4>
  {% if creating %}
  <span>Create a new employee</span>
  <a href="../">Back to company</a>
  {% else %}
  <span>Update an employee</span>
  <a href="../../">Back to company</a>
  {% endif %}
</h4>
<hr />

{% if file_form %}
<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %} {{ file_form.as_p }}
  <input type="submit" value="Save" />
</form>
{% endif %}

<form method="POST" action="">
  {% csrf_token %} {{ em_form.as_p }}
  <input type="submit" value="Save" />
</form>

{% endblock %}
