<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-gantt.min.js"></script>
<div id="container"></div>
<script>
  anychart.onDocumentReady(function () {
    // create data
    var old_data = [
      {
        id: "1",
        name: "Service Name", // service name
        actualStart: Date.UTC(2018, 01, 02), // start_date
        actualEnd: Date.UTC(2018, 06, 15), // end_date

        progressValue: "75%",
        /*   },
              {
                id: "1_2",
                name: "Design and Prototyping",
                actualStart: Date.UTC(2018, 01, 23),
                actualEnd: Date.UTC(2018, 02, 20),
                connectTo: "1_3",
                connectorType: "start-start",
                progressValue: "60%",
              },
              {
                id: "1_3",
                name: "Evaluation Meeting",
                actualStart: Date.UTC(2018, 02, 23),
                actualEnd: Date.UTC(2018, 02, 23),
                connectTo: "1_4",
                connectorType: "start-start",
                progressValue: "80%",
              },
              {
                id: "1_4",
                name: "Application Development",
                actualStart: Date.UTC(2018, 02, 26),
                actualEnd: Date.UTC(2018, 04, 26),
                connectTo: "1_5",
                connectorType: "finish-finish",
                progressValue: "90%",
              },
              {
                id: "1_5",
                name: "Testing",
                actualStart: Date.UTC(2018, 04, 29),
                actualEnd: Date.UTC(2018, 05, 15),
                connectTo: "1_6",
                connectorType: "start-finish",
                progressValue: "60%",
              },
              {
                id: "1_6",
                name: "Deployment",
                actualStart: Date.UTC(2018, 05, 20),
                actualEnd: Date.UTC(2018, 05, 27),
                connectTo: "1_7",
                connectorType: "start-finish",
                progressValue: "100%",
              },
              {
                id: "1_7",
                name: "Maintenance",
                actualStart: Date.UTC(2018, 05, 30),
                actualEnd: Date.UTC(2018, 06, 11),
                progressValue: "40%",
              },
            ], */
      },
    ];

    var data = JSON.parse("{{ gantt_data|escapejs }}");
    data.map((item) => {
      item.actualStart = new Date(item.actualStart).getTime();
      item.actualEnd = new Date(item.actualEnd).getTime();
      item.progressValue /= 10;
      item.progressValue += "%"; // need to jump between number sizes, e.g. 523 would be converted to 52,3%

      return item;
    });
    console.warn(data[0]);
    // create a data tree
    var treeData = anychart.data.tree(data, "as-tree");

    // create a chart
    var chart = anychart.ganttProject();

    // set the data
    chart.data(treeData);

    var dataGrid = chart.dataGrid();

    dataGrid.column(0).enabled(false); // hide first column with id
    var nameCol = dataGrid.column(1);
    nameCol.title("Service Name").width(250);
    var emCol = dataGrid.column(2);
    emCol
      .title("Employee")
      .width(160)
      .labels()
      .format(function () {
        var first_name = this.item.get("employee_first_name");
        if (first_name == null) return "-";
        else return first_name + " " + this.item.get("employee_last_name");
      }); // ' ‹ '
    var leftCol = dataGrid.column(3);
    leftCol
      .title("Months left")
      .width(70)
      .labels()
      .format(function () {
        return this.item.get("months_left");
      });
    // emCol.labels().hAlign("left");

    // configure the scale: when giving Date.UTC(some_year, some_month, 'some_day') as argument to maximum(), chart will scale on that
    chart.getTimeline().scale().maximum();
    // set the container id
    chart.container("container");
    // initiate drawing the chart
    chart.draw();
    // fit elements to the width of the timeline
    chart.fitAll();
  });
</script>
<style>
  #container {
    width: 98vw;
    height: 40vh;
  }
</style>
