{% extends 'portal/company/a_page.html' %} {% block content %}
<hr />
<p><a href="create/">Create new</a></p>

<h3>List of your companies:</h3>

{% if list %}
<ul>
  {% for com in list %}
  <li>
    <div>
      <p>
        <span>{{ com.name }}</span>
        <span>in {{ com.city }}</span>
        <a href="{{ com.link }}">View</a>
      </p>

      <!-- second level companies -->
      {% if com.children %}
      <ul>
        {% for ch in com.children %}
        <li>
          <div>
            <p>
              <span>{{ ch.name }}</span>
              <span>in {{ ch.city }}</span>
              <a href="{{ ch.link }}">View</a>
            </p>

            <!-- third level companies -->
            {% if ch.children %}
            <ul>
              {% for subch in ch.children %}
              <li>
                <p>
                  <span>{{ subch.name }}</span>
                  <span>in {{ subch.city }}</span>
                  <a href="{{ subch.link }}">View</a>
                </p>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </li>

        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </li>

  {% endfor %}
</ul>
{% else %}
<p>No products to display yet</p>
{% endif %} {% endblock %}
